h1{color: Green;}
       a  {
            text-decoration: none;
            color:black;  
          }

b {
  font-style: oblique;
  font-style: italic;
}

h2{
  font-size: 25px;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image:url("./images/mtb-utrechtseheuvelrug-pieter-van-leeuwen-hoge-vuursche.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;


}

.titel{
  font-size: 50px;
}

.content {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 0px;
  background-color: white;
  opacity: 90%;
}

.navbalk {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: rgb(8, 112, 8); 
  height: 60px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  padding: 10px 20px;
  border: 5 solid black;
  background-color: rgb(8, 112, 8);
  transition: background-color 0.3s;
}

.white{
  color: white;
  align-items: center;
}

.text{
  margin: 20;
  padding: 20;
}

.txt-box{
  color: white;
}
