h1 {
  color: green;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

b {
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image:url("../images/mtb-utrechtseheuvelrug-pieter-van-leeuwen-hoge-vuursche.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.titel{
  font-size: 50px;
}

.content {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbalk {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: rgb(8, 112, 8); 
  height: 60px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  padding: 10px 20px; 
  background-color: rgb(8, 112, 8);
  transition: background-color 0.3s;
}