a  {
            text-decoration: none;
            color:black;
            }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image:url("../images/mtb-utrechtseheuvelrug-pieter-van-leeuwen-hoge-vuursche.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
}

.content {
  /* touch the top; equal spacing left/right/bottom */
  margin: 0 10vw 10vw; /* top:0, right:10vw, bottom:10vw, left:10vw */
  padding: 24px;
  box-sizing: border-box;
  /* use rgba for semi-transparent background so child elements aren't affected */
  background-color: rgba(255, 255, 255, 0.9);
  min-height: calc(100vh - 60px - 10vw);
}

.navbalk {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: rgb(8, 112, 8); 
  height: 60px;
}


.nav-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  padding: 10px 20px;
  border: 0px solid black;
  background-color: rgb(8, 112, 8);
  transition: background-color 0.3s;
}

.white{
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}