h1{color: Green;}
       a  {
            text-decoration: none;
            color:black;
         
          }

.box {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 0px;
}

